@import "colors";

@import url('https://fonts.googleapis.com/css?family=Lexend:400');

* {
    box-sizing: border-box;
}

article {
    height: 100%;
    margin-left: 1rem;
    margin-right: 1rem;
}

// p {
//     margin-left: 0.5rem;
//     margin-right: 0.5rem;
// }



// .infobar {
//     margin: 0 2rem;
//     color: #3D3D3D;
// }


a {
    text-decoration: none;
    color: #4168B5;
}

a:hover {
    /* color: #FF7E00; */
    color: #69a95d;
}

aside {
    width: auto;
    padding-left: 0;

    // float: right;
    // font-style: italic;
    // color: #69a95d;
    // background-color: #3D3D3D;
    // border: #3D3D3D;
    // border-style: solid;
    // border-width: 0.1rem;
    // -webkit-border-radius: 1rem 1rem 1rem 1em;

    // border-radius: 1rem 1rem 1rem 1rem;


}

img {
    max-width: 100%;
}

pre {
    padding: 1rem;
    overflow: auto;
}

// The line numbers already provide some kind of left/right padding
pre[data-linenos] {
    padding: 1rem 0;
}

pre table td {
    padding: 0;
}

// The line number cells
pre table td:nth-of-type(1) {
    text-align: center;
    user-select: none;
}

pre mark {
    // If you want your highlights to take the full width.
    display: block;
    // The default background colour of a mark is bright yellow
    background-color: rgba(254, 252, 232, 0.9);
}

pre table {
    width: 100%;
    border-collapse: collapse;
}

html {
    font-size: 100%;
}

/*16px*/

body {
    position: relative;
    min-height: 100vh;
    padding-bottom: 4rem;

    margin: 0 auto;
    //margin-bottom: 3.5rem;
    // width: 860px;

    max-width: 60rem;

    background: #F7EDE2;
    font-family: 'Lexend', sans-serif;
    font-weight: 400;
    line-height: 1.5rem;
    color: #000000;
}

p {
    margin-bottom: 1rem;
    line-height: 1.5rem;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 2rem 0 1rem;
    font-family: 'Lexend', sans-serif;
    font-weight: 400;
    line-height: 2.5rem;
}

h1.title {
    margin-top: 2rem;
    margin-bottom: 2rem;

    // text-align: center;
    line-height: 3rem;

}


h1 {

    font-size: 2.25rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.728rem;
}

h4 {
    font-size: 1.44rem;
}

h5 {
    font-size: 1.2rem;
}

small,
.text_small {
    font-size: 0.833rem;
}

ul.category_listing {
    padding-left: 2rem;

    li {
        display: flex;
        margin-bottom: 1rem;

        a {
            text-decoration: none;
            align-self: center;
            line-height: 1rem;

            img {
                vertical-align: middle;
                margin-right: 0.5rem
            }
        }

        a.cat_description {

            padding-left: 0.5rem;
        }


    }
}

nav.prevnext {
    display: flex;
    padding: 0 1rem;
    align-items: center;
    //justify-content: space-between;

    // border: #3D3D3D;
    // border-style: solid;
    // border-width: 0.1rem;
    // -webkit-border-radius: 1rem 1rem 1rem 1em;
    // border-radius: 1rem 1rem 1rem 1rem;

    a {
        text-decoration: none;
    }

    div.infobar {
        align-self: center;
        margin: auto;
    }

    div.next {
        align-self: flex-end;
        // margin-left: auto;
    }


}




header {
    nav {
        align-items: center;
        overflow: hidden;
        background-color: #3D3D3D;
        -webkit-border-radius: 0 0 1rem 1rem;
        border-radius: 0 0 1rem 1rem;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        height: 4.5rem;

        a {
            display: block;
            color: #F7EDE2;
            text-align: center;
            padding: 1rem 1rem;
            text-decoration: none;
            font-weight: bolder;
            font-size: larger;
        }

        a.split {
            margin-left: auto;
        }

        a:hover {
            /* color: #FF7E00; */
            color: #69a95d;
        }

        a.smaller {
            font-family: 'Ubuntu Mono';
            display: block;
            color: #F7EDE2;
            text-align: center;
            padding: 1rem 0.75rem;
            text-decoration: none;
            font-weight: normal;
            font-size: larger;
        }

        a.smaller:hover {
            /* color: #FF7E00; */
            color: #4168B5;
        }

        .logo {
            padding-top: 0;
            padding-bottom: 0;
            padding-left: 1rem;
            padding-right: 1rem;
            text-align: center;

            img {
                height: 4.5rem;
            }
        }
    }
}



footer {
    nav {
        position: absolute;
        bottom: 0;
        width: 100%;
        /* Footer height */
        height: 4rem;


        margin-top: 2rem;
        height: 4rem;
        //overflow: hidden;
        background-color: #3D3D3D;
        -webkit-border-radius: 1rem 1rem 0 0;
        border-radius: 1rem 1rem 0 0;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;

        a {
            color: #F7EDE2;
            text-align: center;

            padding: 1rem 1rem;

            margin-right: 1rem;
            text-decoration: none;
            font-weight: bolder;
            // font-size: large;
        }

        a:hover {
            color: #69a95d;
        }

        a.split {
            margin-right: auto;
        }
    }
}

@media screen and (max-width: 760px) {
    main {
        padding-bottom: 20rem;
    }

    ul.category_listing {
        padding-left: 0rem;
    }




    nav.prevnext {
        flex-direction: column;

        align-items: center;
        justify-content: center;
        text-align: center;

        // border: #3D3D3D;
        // border-style: solid;
        // border-width: 0.1rem;
        // -webkit-border-radius: 1rem 1rem 1rem 1em;
        // border-radius: 1rem 1rem 1rem 1rem;
        div {
            padding: 0.25rem;
        }

        a {
            text-decoration: none;
        }

        div.infobar {
            align-self: center;
            margin: unset;

        }

        div.next {
            align-self: center;
            margin-left: unset;
        }


    }


    header {
        nav {

            height: auto;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            -webkit-border-radius: 0 0 0 0;
            border-radius: 0 0 0 0;

            a {
                font-size: medium;
                padding: 0.5rem;
                width: 100%;
            }

            a.smaller {
                visibility: collapse;
            }

            .logo img {
                height: 3rem;
            }
        }
    }

    footer {
        //position: absolute;
        //position: relative;
        // bottom: auto;

        height: auto;

        nav {
            height: auto;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            -webkit-border-radius: 0 0 0 0;
            border-radius: 0 0 0 0;

            a {
                font-size: small;
                padding: 0.5rem;
                //float: none;
                width: 100%;
            }
        }
    }

    body {
        max-width: 860px;
        padding-bottom: 0;
    }
}