{% extends "base.html" %}

{% block content %}
<article>
    <h1 class="title">
        #{{ term.name | title}}
    </h1>
    <section>
        {#<p>Here is my {{ term.name | title}} list</p>#}
    </section>

    <ul>{% for page in term.pages %}
        <li><a style="text-decoration: none;" href="{{ page.permalink | safe }}">
                <span style="width: 6em;display: inline-block; font-family: Ubuntu Mono;">
                    {{ page.date | date(format="%F")}}
                </span>{{ page.title }}
            </a></li>{% endfor %}
    </ul>
</article>
{% endblock content %}