{% import "macros.html" as macros %}
{% extends "base.html" %}

{% block content %}
<article>
    <header>
        <h1 class="title">
            {{ page.title }}
        </h1>
        <div>
            {% set sep = "<strong>&middot;</strong>"%}

            <p class="subtitle"><strong>{% for t,a in page.taxonomies %}
                    {% if t != "tags" %}
                    <a href="{{config.base_url~t}}">{{ t | capitalize}}</a>
                    {% endif %}{% endfor %}</strong>{{sep | safe}} <small><a href="{{config.base_url~"archive"}}">
                        Published:
                        {{ page.date | date(format="%F %H:%m") }} </a> </small>{{sep | safe}}<small>
                    {{page.reading_time}} min </small>{{sep | safe}}<small>
                    {% for t, tag_names in page.taxonomies %}
                    {% if t == "tags" %}
                    {% for tag_name in tag_names %}
                    {% set tag_url = get_taxonomy_url(kind="tags", name=tag_name) %}
                    <a href="{{tag_url}}">&nbsp;#{{tag_name | slugify | title }}&nbsp;</a>
                    {% endfor %}{% endif %}{% endfor %}</small>
            </p>


        </div>
    </header>
    <section class="post">


        {# Write <!-- toc --> in markdown to put in toc in post#}

        {{ page.content | safe | replace(from="<!-- toc -->", to=macros::print_toc(page=page)) | safe}}




    </section>
</article>
{% endblock content %}