{% extends "base.html" %}
{% block content %}
<article>
    <h1 class="title">
        {{ section.title }}
    </h1>
    <section>

        <p>Here is my blog where I publish things I'm curious about. I hope you'll find something interesting here.
            Feel free to <a style="text-decoration: none;" href="/contact">contact me</a> if you have any questions
            or comments.</p>


    </section>
    <section>
        <h3>Categories</h3>
        <ul class="category_listing">
            <li>
                <a href="/rust">
                    <img src="/rustacean-flat-happy.svg" alt="Ferris waving" width="50" height="50" />
                </a>
                <a class="cat_description" href="/rust">
                    /Rust: Rusty topics, interesting crates and useful snippets
                </a>
            </li>
            <li>
                <a href="/tech">
                    <img src="/pgb-chip-generic.svg" alt="IC chip" width="50" height="50" />
                </a>
                <a class="cat_description" href="/tech">
                    /Tech: Technical topics, discoveries and curiosities
                </a>
            </li>
            <li>
                <a href="/fit">
                    <img src="/barbell.svg" alt="Barbell" width="50" height="50" />
                </a>
                <a class="cat_description" href="/fit">
                    /Fit: Fitness, exercise, nutrition and lifestyle design
                </a>
            </li>
            <li>
                <a href="/misc">
                    <img src="/looped_square.svg" alt="Looped square" width="50" />
                </a>
                <a class="cat_description" href="/misc">
                    /Misc: Miscellaneous topics, travel, photography and exploration
                </a>
            </li>
        </ul>
    </section>
    <section>
        <h3>All posts</h3>
        <ul>
            {% for page in section.pages %}
            <li><a style="text-decoration: none;" href="{{ page.permalink | safe }}">
                    <span
                        style="width: 6em;display: inline-block; font-family: Ubuntu Mono;">{{ page.date | date(format="%F")}}</span>
                    {{ page.title }}</a></li>
            {% endfor %}
        </ul>
    </section>
</article>
{% endblock content %}