{% extends "base.html" %}

{% block content %}
<h1 class="title">
    This is my blog made with Zola.
</h1>

<article>
    <h1>!UNDER CONSTRUCTION!</h1>

    <section>
        <h3>Welcome to k94.ch!</h3>
        <p>I'm Jakob Kilo and this is k94.ch, my personal website.</p>

        <p>The main content on this site can be found in <a href="{{ get_url(path="@/blog/_index.md") }}">my blog</a>
            where I want to cover topics
            ranging from Rust crates/libraries, cryptography and strength training, to travel and other
            curiousities.</p>

        <p>If you want to know more <a href="{{ get_url(path="@/about/_index.md") }}">about me or this site</a>, check
            out the <a href="{{ get_url(path="@/about/_index.md") }}">About
                page</a>.</p>

        <p>If you have any questions or comments, feel free to <a
                href="{{ get_url(path="@/contact/_index.md") }}">contact me</a>, see how on the <a
                href="{{ get_url(path="@/contact/_index.md") }}">Contact
                page</a></p>

    </section>


    <section>

        <h3>Timeline</h3>
        <ol>
            <li>datex Website launched</li>

        </ol>


    </section>


</article>
{% endblock content %}