{% extends "base.html" %}

{% block content %}


<article>
    <h1 class="title">
        This is my blog made with Zola.
    </h1>

    <h1>!UNDER CONSTRUCTION!</h1>

    <section>
        <h2>Welcome to k94.ch!</h2>
        <p>I'm Jakob Kilo and this is k94.ch, my personal website.</p>

        <p>The main content on this site can be found in <a href="/blog">my blog</a>
            where I want to cover topics
            ranging from Rust crates/libraries, cryptography and strength training, to travel and other
            curiousities.</p>

        <p>If you want to know more <a href="/about">about me or this site</a>, check
            out the <a href="/about">About
                page.</a></p>

        <p>If you have any questions or comments, feel free to <a href="/contact">contact me.</a></p>

    </section>

    <section>

        <h3>Suggested posts</h3>
        <ol>
            <li>post xyz</li>

        </ol>


    </section>
    <section>

        <h3>Timeline</h3>
        <ol>
            <li>datex Website launched</li>

        </ol>


    </section>


</article>
{% endblock content %}